.body{
    color: #e5f5f1;
    
    
}

.header{
    background-color: #46b649;
    text-align: center;
    padding: 20px;
    
}

.footer{
    background-color: #46b649;
    text-align: center;
    padding: 20px;
}


.p{
    color: black;
    
}

.h1{
    color: black;
    
    
}

.h2{
    color: black;
    
    
    
}

.h3{
    color: black;
    
    
    
}




