body {
    background-color: #000;
}

header {
    background-color: #a00c0c;
    text-align: center;
    padding: 20px;
}
    
footer{
    background-color: #a00c0c;
    text-align: center;
    padding: 20px;
}


p{
    color: #fff;
    font-family: Arial, sans-serif;
}

h1{
    color: #fff;
    font-family: Arial, sans-serif;
    
}

h2{
    color: #fff;
    font-family: Arial, sans-serif;
    
    
}

h3{
    color: #fff;
    font-family: Arial, sans-serif;
    
    
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


div.game{
    
    
    
}

#box1{
    width: 20vw;
  background-color: #a00c0c;
  margin-left: 100px;
  padding: 0;
  display:block;
  margin:0;
  text-align: center; 
} 



a:link {
    color: #fff;
    background-color: transparent; 
    text-decoration: none;
    font-family: Arial, sans-serif;
}

a:visited {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

a:hover {
    color: #000;
    background-color: transparent;
    text-decoration: underline;
    font-family: Arial, sans-serif;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
    font-family: Arial, sans-serif;
}

